$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary-color: #323232;
$secondary-color: #0095FF;
$tridary-color: #AFAFAF;
$quaternary-color: #FFFFFF;


$hover: #0085AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA